footer {
     width: 100%;
     height: 100px;
     line-height: 100px;
     background-color: #58D8E2;
     font-family: standard;
     font-size: 45px;
     color: #fff;
     text-align: center;
     clear: both;
}
