@font-face {
     font-family: standard;
     src: url('../fonts/StandardInternational.ttf');
}

header {
     width: 100%;
     height: 100px;
     background: #58D8E2;
     box-shadow: 0px 10px 65px 2px rgba(0,0,0,0.33);
     position: relative;
}

#navbar {
     margin: 0;
     /*width: 100%;*/
     height: 100px;
     float: right;
}

#navbar>li {
     width: 300px;
     list-style: none;
     float: left;
}

li>a {
     display: block;
     color: #FFF;
     line-height: 100px;
     text-align: center;
     font-family: standard;
     font-size: 45px;
     text-decoration: none;
}

#logo {
     width: 61px;
     height: 80px;
     float: left;
     padding-left: 40px;
     line-height: 170px;
}

li>a:hover, li>a:focus, li>a:active {
     background-color: #fff;
     color: #FF2992;
     height: 100px;
}
