@font-face {
     font-family: standard;
     src: url('../fonts/StandardInternational.ttf');
}

html {
     margin: 0px;
     padding: 0px;
}

body {
     background-color: #fff;
     margin: 0;
}


main {
     background-color: #fff;
     width: 100%;
     height: 100%;
     color: #fff;
     margin: 0 auto;
}

/* index.php */

#video {
     width: 100%;
}

/* product.php */

.productkop {
     font-family: standard;
     font-size: 30px;
     text-align: center;
     color: #000;
     width: 80%;
     margin: 0 auto;
     letter-spacing: 2px;
     margin-bottom: 100px;
}

.productleft{
     float: left;
     margin-left: 10%;
}

.productright {
     float: right;
     margin-right: 10%;
}

.productimage {
     margin-top: 90px;
     width: 400px;
     height: 200px;
     line-height: 400px;
}

.producttekst {
     font-family: standard;
     font-size: 30px;
     text-align: center;
     color: #000;
     width: 760px;
     letter-spacing: 2px;
}

.container {
     width: 100%;
     height: 400px;
     margin-bottom: 100px;
     position: relative;
}

/* aboutus.php */

h1 {
     font-family: standard;
     font-size: 50px;
     color: #000;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     text-decoration: underline;
     letter-spacing: 2px;
     margin-top: 100px;
}

h2 {
     font-family: standard;
     font-size: 30px;
     color: #000;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     text-decoration: underline;
     letter-spacing: 2px;
}

.infotekst {
     font-family: standard;
     font-size: 30px;
     text-align: center;
     color: #000;
     width: 80%;
     margin: 0 auto;
     letter-spacing: 2px;
     margin-bottom: 100px;
}

.infoimage
{
     margin: 0 auto;
     width: 725px;
     height: 400px;
     margin-bottom: 100px;
     margin-top: 100px;
}

.button {
     width: 80%;
     height: 100px;
     line-height: 100px;
     background-color: #58D8E2;
     margin: 0 auto;
     margin-bottom: 100px;
     margin-top: 100px;
     border: 2px solid #58D8E2;
     border-radius: 25px;
     text-align: center;
}

.button>a {
     font-family: standard;
     font-size: 50px;
     color: #fff;
     text-decoration: none;
}

.button:hover, .button:focus {
     background-color: #fff;
     cursor: pointer;
}

.button:hover>a {
     color: #FF2992;
}

/* contact.php */

input[type=text], select, textarea {
     font-family: standard;
     font-size: 20px;
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}

input[type=submit] {
     background-color: #58D8E2;
     color: #fff;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

input[type=submit]:hover {
     background-color: #FF2992;
}

#container {
     border-radius: 5px;
     background-color: #fff;
     padding: 20px;
     margin-top: 100px;
     margin-bottom: 100px;
}

h3 {
     font-family: standard;
     font-size: 20px;
     color: #000;
     text-transform: uppercase;
}
